---
layout: default
title: Home
lang: en
---

{% for page in site.pages %}
	{% if page.ref == 'intro' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'services-music' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'services-multimedia' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'services-commercial' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'about' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'equipment' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'contact' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'faq' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'blog' %}{{ page.content }}{% endif %}
{% endfor %}
{% for page in site.pages %}
	{% if page.ref == 'testimonials' %}{{ page.content }}{% endif %}
{% endfor %}
