* {
    box-sizing: border-box;
}

body{
    position: relative;
	font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}
a.active {
  color: #FFE000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}



.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.site-content {
}

.section {
    border-bottom: 1px solid rgba(240,240,240,1);
    overflow: hidden;
    position: relative;
}

.section-title {
    font-size: 2.4rem;
    margin: 0 0 1.2rem;
    text-align: center;
}

.section-content {
    position: relative;
    max-width: 800px;
    margin: 6rem auto 6rem;
    position: relative;
}

.section-tagline {
    font-size: 1.4rem;
    font-weight: 100;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}

.services-list {
    margin: 2rem 0 0;
    list-style: none;
    padding: 0 0 0 7.5%;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.services-list-item {
    overflow: hidden;
    margin: 2rem 0;
    font-size: 1.6rem;
    font-weight: 400;
}

.services svg {
    width: 4rem;
    height: 4rem;
    position: relative;
    fill: black;
    float: left;
    margin-right: 1rem;
}


.services--music {
    min-height: 100vh;
    color: white;
    background: linear-gradient(to right, black 0%, #212121 50%, black 100%);
}

.services--music:before {
    position: absolute;
    opacity: .5;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 90%), url(./colored-wf.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110% auto;
    background-blend-mode: multiply;
    mix-blend-mode: screen;
}


.services--music svg {
    fill: white;
}


.services--commercial {
    min-height: 100vh;
    background: linear-gradient(to right, rgba(216, 216, 216, 1) 0%, rgba(230, 230, 230, 1) 50%, rgba(216, 216, 216, 1) 100%);
}

.services--commercial:before {
    /*position: absolute;
    opacity: .5;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 60%, rgba(0,0,0,1) 90%), url(./colored-wf.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110% auto;
    background-blend-mode: multiply;
    mix-blend-mode: screen;*/
}


.equipment-table {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    padding:5px;
    width: 100%;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);*/
    box-shadow: #000 0 4vw 6vw -2.5vw;
    animation: float 5s infinite;
}

th {
    color:#D5DDE5;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 600;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}


.section--intro {
    text-align: center;
    overflow: hidden;
    height: 100vh;
    color: white;
    border-bottom: none;
    background: linear-gradient(to bottom, rgba(58, 71, 97, .5), rgba(39, 54, 81, 1)), url(./mic.jpg);
    background-position: center center;
    background-size: cover;
    background-blend-mode: screen;
}
.section--intro:before {
    position: absolute;
    background: url(./cymatics.png);
    background-position: center 10vh;
    background-repeat: no-repeat;
    background-size: 30vh;
    mix-blend-mode: screen;
    opacity: .75;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.section--intro .section-content {
}


.section--intro .section-title {
    margin-top: 40vh;
    font-weight: 900;
    font-size: 4rem;
    color: #81FAFB;
    mix-blend-mode: overlay;
}
.section--intro .section-tagline {
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 100;
}

.section--intro .section-menu {
    font-family: 'Roboto', sans-serif;
    margin-top: 20vh;
    font-weight: 100;
}
.section--intro .section-menu-link {
    color: rgba(255, 255, 255,.95);
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255,.15);
    transition: .3s linear;
}
.section--intro .section-menu-link:hover {
    color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(255, 255, 255,1);
}

