body{
    position: relative;
	font-family: 'Open Sans', sans-serif;
    font-size: 1;
    line-height: 1.5;
}
a.active {
  color: #FFE000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #111;
}

.site-content {
}

.section {
    border-bottom: 1px solid rgba(240,240,240,1);
}

.section-title {
    font-size: 2.4rem;
    margin: 0 0 1.2rem;
}

.section-content {
    position: relative;
    max-width: 800px;
    margin: 4rem auto 4rem;
    position: relative;
}

.services-list {
    margin: 0;
}




.equipment-table {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color:#D5DDE5;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 600;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}


.section--intro {
    text-align: center;
    overflow: hidden;
    height: 100vh;
    color: white;
    background: linear-gradient(to bottom, #36455D, #273551);
}
.section--intro .section-content {
}


.section--intro .section-title {
    margin-top: 30vh;
    font-weight: 900;
    font-size: 4rem;
    color: #81FAFB;
}
.section--intro .section-tagline {
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 100;
}

.section--intro .section-menu {
    font-family: 'Open Sans', sans-serif;
    margin-top: 30vh;
    color: white;
    font-weight: 600;
}
.section--intro .section-menu-link {
    color: rgba(255,255,255,.95);
    text-decoration: none;
    margin: 0 1rem;
    border-bottom: 1px solid rgba(255,255,255,.15);
    transition: .3s linear;
}
.section--intro .section-menu-link:hover {
    color: rgba(255,255,255,1);
    border-bottom: 1px solid rgba(255,255,255,1);
}

